{{ define "main" }}

<div class="container taxon-list">
    <h1 id="taxons" class="list-title">{{ .Title }}</h1>

    <div class="post-description desc-italic post-spacing" style="padding-bottom: 1rem;">
        {{ if .Params.tagLine }} {{ .Params.tagLine }} {{ end }}
    </div>

    <div class="taxon-intro-wrapper">
        {{ if not .Params.noFeaturedImage }}
        <div class="taxon-intro-image">
            {{- partial "featured-image-service.html" . -}}
        </div>
        {{ end }}

        <div class="taxons-intro post-spacing">
            {{ .Content }}
        </div>
    </div>

    {{ $caseStudies := .Pages }}
    {{ if $caseStudies }}
    <div class="taxons-grid">
        <h2>Case Studies</h2>

        {{ range $caseStudies }}
        <div class="taxon-item">
            {{ if not .Params.noFeaturedImage }}
            {{- partial "featured-image-service.html" . -}}
            {{ end }}

            <div class="taxon-content">
                <h3 id="title" class="taxon-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h3>

                <div class="post-spacing">
                    {{ .Summary }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
<footer class="post-footer">
    {{- partial "post-footer.html" . -}}
</footer>
{{ end }}