{{ define "main" }}
<div class="container taxons-list">
    <h1 class="list-title">Services</h1>

    {{ with .Site.GetPage "/services" }}
    <div class="taxons-intro post-spacing">
        {{ markdownify .Content }}
    </div>
    {{ end }}
    <hr style="margin: 2.0rem 0;">
    <div class="taxons-grid">
        {{ range .Data.Pages }}
        {{ partial "list-services.html" . }}
        {{ end }}
    </div>
</div>
<footer class="post-footer">
    {{- partial "post-footer.html" . -}}
</footer>
{{ end }}