.box-shortcode {
    padding: 1.6em;
    padding-top: 1.4em;
    line-height: 1.4em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 4px;
    background: #f3ebe850;
  }

  .box-title {
    margin: -18px -18px 12px;
    padding: 4px 18px;
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    color: #fff;
    background: #6ab0de;
  }
  .box-shortcode.warning .box-title {
    background: #ff6b6b;
  }
  .box-shortcode.warning {
    background: #ff6b6b4f;
  }
  .box-shortcode.info .box-title {
    background: #0089e488;
  }
  .box-shortcode.info {
    background: #0089e41c;
    box-shadow: 3px 3px 5px #0089e410;
  }
  .box-shortcode.important .box-title {
    background: #f7ec2c;
  }
  .box-shortcode.important {
    background: #f7ec2c7d;
  }
  .box-shortcode.tip .box-title {
    background: #a3ffa34d;
  }
  .box-shortcode.tip {
    background: #a3ffa34d;
    box-shadow: 3px 3px 5px #0089e410;
  }
  .icon-box {
    display: inline-flex;
    align-self: center;
    margin-right: 8px;
  }
  .icon-box img,
  .icon-box svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
  }
  .icon-box img,
  .icon-box.baseline svg {
    top: 0.125em;
    position: relative;
  }
  .box-shortcode p {
    margin-bottom: 0.6em;
  }
  .box-shortcode p:first-of-type {
    display: inline;
  }
  .box-shortcode p:nth-of-type(2) {
    margin-top: 0.6em;
  }
  .box-shortcode p:last-child {
    margin-bottom: 0;
  }
