img.post-img {
  padding: 5px;
	border: 1.5px grey solid;
  max-width: 95%;
  min-width: 50%;
}

div.img-caption {
	font-size: 15px;
	font-style: italic;
	color: grey;
	padding-top: 5px
}

div.project-card {
	font-size: 22px;
	font-style: italic;
	padding: 10px
}

div.list-posts-img {
	width: 350px;
	float: left;
	padding-right: 10px;
	margin-right: 15px;

}

/* div.list-posts-txt-title {
  
} */

div.list-posts-txt-desc {
	text-align: justify;
}

img.post-hero-feat {
	object-fit: fill;
  border: 1.5px gray solid;
}

article.list-posts {
	padding: 10px;
	margin: 10px;
  align-items: center;
}

article.list-posts p {
  margin: 10px auto;
  font-size: 17.5px;
  line-height: normal;
}

h2.list-posts-title {
	margin: 0px;
	padding: 0px;
	font-size: 1.5em;
}


div.blog-post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
}

img.blog-card-img {
  display: block;
  object-fit: fill;
  margin: 0;
  min-height: 165px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 16rem;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  border: 1px grey solid;
  max-height: 400px;
}

.hide-tags {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.tags-center {
  text-align: center;
}

div.all-posts {
  text-align: right;
}

div.blog-post-container-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 15px;
}

div.blog-post-container-project .card {
  display: flex;
  flex-direction: column;
  width: 16rem;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  border: 1px grey solid;

}

.card__header {
  height: 165px;
  overflow: hidden;
  border-bottom: 1px grey solid;
  margin-bottom: 5px;
}


.card__body {
  padding: 0.1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.card__body h4 {
  text-transform: capitalize;
  margin: 5px auto;
}

.card__body a {
  box-shadow: none;
  padding-left: 3px;
  padding-right: 3px;
}

.card__body li {
  padding: 0px;
  margin: 0px;
  margin-inline-end: 0px;
}

.card__body .post-tags {
  padding: 0;
  margin: 0;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.no-margin {
	
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-tag-container {
  margin: 15px auto;
}

.post-featured-image {
  margin: 15px auto;
}

.post-git-issues {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-git-issues .post-git-issues-list {
  color: inherit;
  display: inline-block;
  font-size: 80%;

}

.version-control {
  font-size: 80%;
}

.list-posts {
  margin: 10px;
  padding: 10px;
}

.list-title {
  margin: 10px;
  text-align: center;
}

.all-posts .button {
  background: initial;
}

.home-posts .list-title {
  margin-bottom: 15px;
  text-align: left;
}

.post-spacing {
  line-height: 1.7;
  letter-spacing: 0.5px;
  font-size: 20px;

}

.post-info {
  font-size: initial;
  letter-spacing: initial;
  line-height: initial;
}

.image-spacing {
  margin: 20px auto;
}

.desc-italic {
  font-style: italic;
}

.index-profile-title {
  margin: 10px;
  padding: 0px;
}

.index-profile-subtitle {
  font-size: 20px;
  font-weight: bold;
}

.index-post-content p {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 820px) {

  div.list-posts-img {
    width: 95%;
    float: center;
    padding-right: 0;
    margin-right: 0;
  
  }
}














