/* Reset pagination styles */
.pagination-container .pagination .page-item .page-link {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
    text-decoration: none;
  }
  
  /* Style for current page */
  .pagination-container .pagination .page-item.current .page-link {
    font-weight: bold;
  }
  
  /* Center the pagination */
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Reset list styles */
  .pagination-container .pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }