.taxons-list {
    padding: 2rem 0;
}

.taxon-intro-wrapper {
    margin-bottom: 1rem;
}

.taxon-intro-image {
    float: left;
    width: 40%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.taxon-intro-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.taxons-intro {
    padding-left: 1rem;
}

.taxons-intro ul,
.taxons-intro ol {
    padding-left: 1.5rem;
    margin-left: 0;
}

.taxons-intro li {
    margin-bottom: 0.5rem;
}

.taxons-grid {
    clear: both;
    display: grid;
    gap: 1rem;
}

.taxon-image {
    flex: 0 0 40%;
}

.taxon-feat-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.taxon-content {
    flex: 1;
    min-width: 0;
}

.taxon-title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.taxon-title a {
    color: inherit;
    text-decoration: none;
}

.list-posts, 
.blog-post-container,
.taxons-grid {
    max-width: 95%;
    margin: 0 auto;
}

.blog-post-container,
.taxons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.taxon-item-posts {
    flex-basis: calc(33.333% - 1.334rem);
    max-width: calc(33.333% - 1.334rem);
    margin-bottom: 2rem;
}


.taxon-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem 0;
}

.taxon-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.taxon-content {
    max-width: 95%;
    flex-basis: 95%;
    
}

@media only screen and (max-width: 820px) {
    .taxon-intro-wrapper {
        flex-direction: column;
    }

    .taxon-intro-image {
        width: 95%;
    }

    .taxon-item-posts,
    .taxon-item {
        flex-direction: column;
        flex-basis: 95%;
        max-width: 95%;

    }

    .taxon-image {
        width: 95%;
        float: center;
        padding-right: 0;
        margin-right: 0;
    }

    .taxons-intro {
        padding-left: 0;
    }
}