{{ define "main" }}
<div class="container list-posts">

    <h1 class="list-title">The {{ .Title }} Project</h1>

        <div class="post-content">
            <p>
                {{- partial "featured-image.html" . -}}
            </p>
            <h2 class="list-posts-title">Project Description:</h2>
            <div class="project-card">
                <p> {{ .Content }}</p>
                {{ if isset .Params "aka"}}
                <p>
                    {{ with .Params.aka }}
                    <strong>Also Known As:</strong> {{ . }}
                    {{ end }}
                </p>
                {{ end }}
                {{ if isset .Params "reason"}}
                <p>
                    {{ with .Params.reason }}
                    <strong>Project Scope:</strong> {{ . }}
                    {{ end }}
                </p>
                {{ end }}
                {{ if isset .Params "linkgit" }}
                <p>
                    {{ with .Params.linkGit }}
                    <strong>Repository Link:</strong> <a href="{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
                {{ end }}
                {{ if isset .Params "linkurl" }}
                <p>
                    {{ with .Params.linkUrl }}
                    <strong>Website Link:</strong> <a href="{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
                {{ end }}
                {{ if isset .Params "started" }}
                <p>
                    <strong>Started:</strong> {{ dateFormat "January 2, 2006" .Params.started }}
                </p>
                {{ end }}
                {{ if isset .Params "completed" }}
                <p>
                    Status:
                    {{ with .Params.completed }}
                    <strong>Completed</strong> {{ dateFormat "January 2, 2006" . }}
                    {{ end }}
                </p>
                {{ end }}
            </div>
        </div>

        {{ if .Pages }}
        <div class="posts-list">
            <h2 class="list-posts-title">Project Posts:</h2>
            <div class="blog-post-container">
                {{- range .Pages -}}
                {{- partial "list-posts.html" . -}}
                {{ end }}
            </div>
        </div>
        {{ end }}
        
        <footer class="post-footer">
            {{- partial "post-footer.html" . -}}
        </footer>
</div>
{{ end }}