{{/* project terms */}}
{{ define "main" }}
<div class="container taxons-list">
    <h1 class="list-title">Personal Projects</h1>
    {{ with .Site.GetPage "/projects" }}
    <div class="taxons-intro post-spacing">
        {{ markdownify .Content }}
    </div>
    {{ end }}
    <hr style="margin: 2.5rem 0;">
    <div class="taxons-grid">
        {{ range sort .Data.Pages "Params.weight" }}
            {{ partial "list-projects.html" . }}
        {{ end }}
    </div>
    <footer class="post-footer">
        {{- partial "post-footer.html" . -}}
    </footer>
</div>
{{ end }}