{{- define "main" }}
{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}
{{- if not .IsHome | and .Title }}
<div class="list-posts">
    <h1 class="list-title">
        {{- if eq .Type "tags" }}
        Posts Tagged "{{ .Title }}"
        {{- else if eq .Type "casestudy_tags" }}
        Case Studies Tagged "{{ .Title }}"
        {{- else }}
        {{ .Title }}
        {{- end }}
    </h1>
</div>
{{- end }}

{{- $pages := .Pages }}
{{- if and (eq .Type "tags") (not .Pages) }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- else if and (eq .Type "casestudy_tags") (not .Pages) }}
{{- $pages = where site.RegularPages "Type" "casestudy" }}
{{- end }}

{{- $paginator := .Paginate $pages }}

<div class="blog-post-container">
    {{- range $paginator.Pages }}
    {{- if eq .Type "casestudy" }}
    {{- partial "list-casestudies.html" . }}
    {{- else }}
    {{- partial "list-posts.html" . }}
    {{- end }}
    {{- end }}
</div>

{{/* {{- partial "pagination.html" . }} */}}
{{- end }}{{/* end profileMode */}}
{{- end }}{{/* end main */}}