{{ define "main" }}

<div class="list-posts">
    <h1 class='list-title'>{{ .Title }}</h1>
</div>
{{ with .Site.GetPage "/posts" }}
<div class="taxons-intro post-spacing">
    {{ markdownify .Content }}
</div>
{{ end }}
<div class="tag-list">
    <div class="container tags-list tags-center">
        {{- partial "tags.html" . -}}
    </div>
</div>
<hr style="margin: 2.5rem 0;">
<div class="blog-post-container">
    {{- $paginator := .Paginate .Pages -}}
    {{- range $paginator.Pages -}}
      {{- partial "list-posts.html" . -}}
    {{- end }}
</div>

<div class="paginator">
    {{- partial "pagination.html" . -}}
</div>

{{ end }}