{{ if eq .Kind "taxonomy" }}
{{/* This is for the casestudy_tags list page */}}
<ul class="post-tags">
    {{ range .Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }} <strong>{{ .RelPermalink | countwords }}</strong></a></li>
    {{ end }}
</ul>
{{ else if eq .Kind "term" }}
{{/* This is for individual casestudy_tag pages */}}
<ul class="post-tags">
    {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ else }}
{{/* This is for single case study pages */}}
{{ $taxo := "casestudy_tags" }}
{{ with .Param $taxo }}
<ul class="post-tags">
    {{ range $index, $tag := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tag) }}
    <li class="post-tag"><a href="{{ .Permalink }}">{{ $tag }}</a></li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}
{{ end }}