{{ if not .Params.noFeaturedImage }}

{{ $siteCdn := .Site.Params.imageCdn }}
{{ $siteCdnExt := .Site.Params.imageCdnExt }}

{{ $pageFileName := .File.BaseFileName }}
{{ $pageLink := .Page.Permalink }}
{{ $pageDraft := .Params.draft }}


{{ $imageCaption := .Params.featuredImageCaption }}
{{ $imageFeatUrl := .Params.featuredImage }}
{{ $imageAlt := .Params.featuredImageAlt }}
{{ $imageExt := .Params.featuredImageExt}}

{{ $imageUrlScratch := newScratch }}

{{ if $imageFeatUrl }}

{{ $imageUrlScratch.Set "url" $imageFeatUrl }}

{{ else }}

{{ if $imageExt }}
{{ $imageUrlScratch.Set "ext" $imageExt }}

{{ else }}
{{ $imageUrlScratch.Set "ext" $siteCdnExt }}

{{ end }}
{{ $imageUrlExt := $imageUrlScratch.Get "ext" }}

{{ if $pageDraft }}
{{ $imageExtra := "images/feat" }}
{{ $imageDrafted := print $pageLink $imageExtra $imageUrlExt }}
{{ $imageUrlScratch.Set "url" $imageDrafted }}

{{ else }}
{{ $imageNotDrafted := print $siteCdn $pageFileName $imageUrlExt }}
{{ $imageUrlScratch.Set "url" $imageNotDrafted }}

{{ end }}

{{ end }}
{{ $imageUrl := $imageUrlScratch.Get "url" }}

<div class="taxon-image" align="center">
    <a href="{{ .Permalink }}">
        <img class="taxon-feat-img" src="{{- $imageUrl -}}" {{- with $imageAlt -}} alt="{{- . -}}" {{- end -}}>
    </a>
</div>

{{ end }}