<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        {{- $img := "" }}
        {{- if not (urls.Parse .imageUrl).IsAbs }}
        {{- $img = resources.Get .imageUrl }}
        {{- end }}
        {{- if $img }}
        {{- $processableFormats := (slice "jpg" "jpeg" "png" "tif" "bmp" "gif") -}}
        {{- if hugo.IsExtended -}}
        {{- $processableFormats = $processableFormats | append "webp" -}}
        {{- end -}}
        {{- $prod := (hugo.IsProduction | or (eq site.Params.env "production")) }}
        {{- if and (in $processableFormats $img.MediaType.SubType) (eq $prod true)}}
        {{- if (not (and (not .imageHeight) (not .imageWidth))) }}
        {{- $img = $img.Resize (printf "%dx%d" .imageWidth .imageHeight) }}
        {{- else if .imageHeight }}
        {{- $img = $img.Resize (printf "x%d" .imageHeight) }}
        {{ else if .imageWidth }}
        {{- $img = $img.Resize (printf "%dx" .imageWidth) }}
        {{ else }}
        {{- $img = $img.Resize "150x150" }}
        {{- end }}
        {{- end }}
        <img draggable="false" src="{{ $img.Permalink }}" alt="{{ .imageTitle | default " profile image" }}"
            title="{{ .imageTitle }}" height="{{ .imageHeight | default 150 }}"
            width="{{ .imageWidth | default 150 }}" />
        {{- else }}
        <img draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default " profile image" }}"
            title="{{ .imageTitle }}" height="{{ .imageHeight | default 150 }}"
            width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        {{- end }}
        <h1 class="index-profile-title">{{ .title | default site.Title | markdownify }}</h1>
        <span class="index-profile-subtitle">{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">
                    {{ .name }}
                    {{- if (findRE "://" .url) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="14" width="14">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>


{{- if .Content }}
<div class="index-post-content post-spacing" align="center">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{/* Services Section */}}
{{ if isset .Site.Params "showservicesonhomepage" }}
<div class="home-posts">
    <div class="list-title" style="margin-bottom: 15px;">
        <h2>Services</h2>
    </div>
    <div class="blog-post-container">
        {{ $services := where .Site.Pages "Params.type" "service" }}
        {{ range $services }}
        {{- partial "list-services.html" . -}}
        {{ end }}
    </div>
</div>
{{ end }}

{{/* Put Projects Here */}}

{{ if isset .Site.Params "showprojectsonhomepage" }}
<div class="home-posts">
    <div class="list-title" style="margin-bottom: 15px;">
        <h2>Personal Projects</h2>
    </div>
    <div class="blog-post-container">
        {{ $projects := where .Site.Pages "Params.type" "project" }}
        {{ range sort $projects "Params.weight" | first 3 }}
        {{- partial "list-projects.html" . -}}
        {{ end }}
    </div>
    <div class="all-posts">
        <a href="{{ .Site.BaseURL }}/projects" class="post-tag ">View All Projects</a>
</div>
</div>
{{ end }}

{{/* Recent Posts Section */}}

{{ if isset .Site.Params "showpostsonhomepage" }}

<div class="home-posts">
    <div class="list-title" style="margin-bottom: 15px;">
        <h2>Recent Posts</h2>
    </div>
    {{ if isset .Site.Params "showtagsonhomepage" }}
    <div class="container tags-list tags-center">
        {{- partial "tags.html" . -}}
    </div>
    {{ end }}
    <div class="blog-post-container">
        {{ $posts := where .Site.Pages "Params.type" "post" }}

        {{ if eq .Site.Params.ShowPostsOnHomePage "recent" }}
        {{ range $posts.ByDate.Reverse | first 3 }}
        {{- partial "list-posts.html" . -}}
        {{ end }}

        {{ end }}
    </div>
    <div class="all-posts">
        <a href="{{ .Site.BaseURL }}/posts" class="post-tag ">View All Posts</a>
    </div>
</div>

{{ end }}