<div class="taxon-item">
    {{ if .Params.featuredImage }}
    <div class="taxon-image">
        <a href="{{ .Permalink }}">
            {{ partial "featured-image-service" . }}
        </a>
    </div>
    {{ end }}
    <div class="taxon-content">
        <h2 class="taxon-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <div class="list-posts-txt-started">
            <span>{{ dateFormat "January 2, 2006" .Date }}</span>
        </div>
        <ul class="post-tags hide-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "/casestudy_tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        <div class="post-spacing">
            {{ if .Params.description }}
            {{ .Params.description }}
            {{ else }}
            {{ .Summary }}
            {{ end }}
        </div>
    </div>
  </div>