<div class="taxon-item-posts">
  <div class="taxon-image">
      <a href="{{ .Permalink }}">
          {{ partial "featured-image-service.html" . }}
      </a>
  </div>
  <div class="taxon-content">
      <h4 class="taxon-title" style="text-align: center;">
          <a href="{{ .Permalink }}">{{ with .Params.draft}}Draft: {{ end }}{{ .Title }}</a>
      </h4>
      <div class="">
        <small>
          <span>{{ dateFormat "January 2, 2006" .Date }}</span>
        </small>
      </div>
      <div class="container tags-list tags-center">
      <ul class="post-tags hide-tags">
      {{ range .Params.tags }}
          <li class="post-tag"><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
      </ul>
      </div>
  </div>
</div>