<div class="taxon-item">
  {{ if .Params.featuredImage }}
  <div class="taxon-image">
      <a href='{{ .Permalink }}'>
          {{ partial "featured-image-service.html" . }}
      </a>
  </div>
  {{ end }}
  <div class="taxon-content">
      <h2 class="taxon-title">
          <a href='{{ .Permalink }}'>{{ .Title }}</a>
      </h2>
      {{ if isset .Params "aka" }}
      {{ with .Params.aka }}
      <div class="list-posts-txt-aka">
          <span>Also Known As: {{ . }}</span>
      </div>
      {{ end }}
      {{ end }}
      <div class="list-posts-txt-started">
          <span>{{ $started := .Params.started }}Started: {{ dateFormat "January 2, 2006" $started }}</span>
      </div>
      {{ if isset .Params "completed" }}
      <div class="list-posts-txt-completed">
          <span>Status: {{ with .Params.completed }}Completed {{ dateFormat "January 2, 2006" . }}{{ end
              }}</span>
      </div>
      {{ end }}
      <div class="post-spacing">
        {{ if .Params.description }}
        {{ .Params.description }}
        {{ else }}
        {{ .Summary }}
        {{ end }}
      </div>
  </div>
</div>