<div class="taxon-item">
    {{ if .Params.featuredImage }}
    <div class="taxon-image">
        <a href="{{ .Permalink }}">
            <img src="{{ .Params.featuredImage }}" alt="{{ .Params.featuredImageAlt }}" class="taxon-feat-img">
        </a>
    </div>
    {{ end }}
    <div class="taxon-content">
        <h2 class="taxon-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post-spacing">
            {{ with .Content }}
            {{ $paragraphs := split . "<p>" }}
                {{ if ge (len $paragraphs) 2 }}
                {{ index $paragraphs 1 | safeHTML }}
                {{ else }}
                {{ . | safeHTML }}
                {{ end }}
                {{ end }}
        </div>
    </div>
</div>