{{ if gt .Paginator.TotalPages 1 }}
<nav class="pagination-container">
  <ul class="pagination">
    {{ if .Paginator.HasPrev }}
      <li class="page-item prev">
        <a href="{{ .Paginator.Prev.URL }}" class="page-link">Previous</a>
      </li>
    {{ end }}
    
    {{ range .Paginator.Pagers }}
      <li class="page-item{{ if eq . $.Paginator }} current{{ end }}">
        <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
      </li>
    {{ end }}
    
    {{ if .Paginator.HasNext }}
      <li class="page-item next">
        <a href="{{ .Paginator.Next.URL }}" class="page-link">Next</a>
      </li>
    {{ end }}
  </ul>
</nav>
{{ end }}