<div class="post-footer post-info">
    <div class="version-control">
        <strong>Version Control</strong><br />
            {{ if .GitInfo }}
                {{ with .GitInfo.AuthorDate }}
                    This page was last updated on: {{ dateFormat "2 January, 2006" . }}<br />
                {{ end }}
                {{ with .GitInfo.Subject }}
                    "{{ . }}"
                    <br />
                {{ end }}
                {{ if .Params.gitIssue }}
                <a href="https://gitlab.com/conorjwryan/conorjwryan-site/-/issues/{{ .Params.gitIssue }}">
                    Click here: #{{ .Params.gitIssue }} to see its history on GitLab.
                </a>
                {{ end }}
            {{ else }}
                This page has not been committed yet and thus will not show any "gitInfo" data.
            {{ end }}
    </div>
</div>