{{ if eq .Type "post" }}
{{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
<ul class="post-tags">
  {{- range ($.GetTerms $tags) }}
    <li class="post-tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
  {{- end }}
{{ else }}
    <ul class="post-tags">
        {{ range $.Site.Taxonomies.tags.ByCount }}
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/{{ .Name | urlize }}/">
                    {{ .Name }} <sup><strong><sup>{{ .Count }}</sup></strong></sup>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}
