{{ $imageLocation := .Get 0 }}
{{ $imagePath := .Get 1 }}
{{ $imageAlt := .Get 2 }}
{{ $imageCaption := .Get 3 }}
{{ $imageLink := .Get 4 }}

{{ $pageName := $.Page.File.BaseFileName }}
{{ $pageDraft := $.Page.Params.draft }}

{{ $imageSep := "-" }}
{{ $imageCdn := .Site.Params.imageCdn }}
{{ $imageBaseScratch := newScratch }}
{{ $imageKindScratch := newScratch }}

{{ if $imageLink }}
	{{ $imageKindScratch.Set "link" "img-link" }}
{{ else }}
	{{ $imageKindScratch.Set "link" "img-nolink" }}
{{ end }}
{{ $imageLinkClass := $imageKindScratch.Get "link" }} 

{{ if eq $imageLocation "int" }}

	{{ if $pageDraft }}
		{{ $imagePermUrl := .Page.Permalink }}
		{{ $imageExtra := "images/"}}
		{{ $imageDraftTrue := print $imagePermUrl $imageExtra $imagePath }}
		{{ $imageBaseScratch.Set "draft" $imageDraftTrue }}
	{{ else }}
		{{ $imageDraftFalse := print $imageCdn $pageName $imageSep $imagePath }}
		{{ $imageBaseScratch.Set "draft" $imageDraftFalse }}
	{{ end }}
	{{ $imageIfInt := $imageBaseScratch.Get "draft" }}
	{{ $imageKindScratch.Set "kind" $imageIfInt }}

{{ else if eq $imageLocation "cdn" }}
	{{ $imageIfCdn := print $imageCdn $imagePath }}
	{{ $imageKindScratch.Set "kind" $imageIfCdn }}

{{ else if eq $imageLocation "ext" }}
	{{ $imageIfExt := print $imagePath }}
	{{ $imageKindScratch.Set "kind" $imageIfExt }}

{{ end }}
{{ $imageFullLink := $imageKindScratch.Get "kind" }}

<div class="{{ $imageLinkClass }} image-spacing">
		<div class="post-img 
			{{ with $imageLocation }}
				img-{{ . }}
			{{ end }}
		" align="center">

			{{ with $imageLink }}
				<a href="{{ . }}" alt="">
			{{ end }}

				<img class="post-img" src="{{ $imageFullLink }}" alt="{{ $imageAlt }}">

			{{ with $imageLink }}
				</a>
			{{ end }}

		</div>

		<div align="center" class="img-caption">
			{{- $imageCaption -}}
		</div>

</div>
