{{ $signatureType := .Get 0 }}
{{ $signatureText := .Get 1 }}

{{ if eq $signatureType "standard" }}
<p class="signature">Until next time,<br>Conor</p>
{{ else if eq $signatureType "custom" }}
<p class="signature">
    {{ with $signatureText}}
    {{ . | safeHTML }}
    {{ end }}
</p>
{{ end }}